/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/tao-dist.iml
/.idea/vcs.xml
/.idea/workspace.xml
/data/
/vendor/
*.log
ltiDeliveryProvider
taoCaliper
taoQtiTest
taoLti
taoItems
taoFlysystemTwoWayReplica
taoQtiItem
taoTaskQueue
config/tao/websource_*.conf.php
