@charset "UTF-8";

$fontPath : '../../../../tao/views/css/font/';

// rest regular font to whatever has been declared in /tao
@import "inc/bootstrap";

.qti-item {
    font-family: "Helvetica";
    sub,sup {
        font-size: 90%;
    }
}


// override items that make actually use of the font
.qti-inlineChoiceInteraction .select2-chosen,
select.qti-inlineChoiceInteraction,
.qti-inlineChoiceInteraction-dropdown .select2-result-label {
    font-family: $regularFont !important;
    font-weight: normal !important;
}

.qti-interaction {
    margin-top: 35px !important;
}